# Project Data Scraping | NCAA College Football
Emily Nell, Chaitanya Patel, Emily Sanders
---

---

In [21]:
import pandas as pd
import numpy as np
import os
from selenium import webdriver
from selenium.webdriver.common.by import By # used to import different ways to access data in the XML or HTML file
from selenium.webdriver.chrome.service import Service # no longer need to download a driver file, use service
from webdriver_manager.chrome import ChromeDriverManager # used to manage the Chrome driver to emulate a Chrome web browser
from selenium import webdriver

import time
import random
import datetime

In [22]:
# URL of the College Football Win-Loss Records & Trends Website
url = 'https://betiq.teamrankings.com/college-football/betting-trends/win-loss-records/'

# Extract tables from the webpage
tables = pd.read_html(url)

# First table is one with data needed for project
df_win_loss_trends_24 = tables[0]

# Display the DataFrame
df_win_loss_trends_24

              Team Win-Loss Record  Win %   MOV  ATS +/-
0           Oregon          13-1-0  92.9%  15.4     -2.3
1          Ohio St          14-2-0  87.5%  22.8      3.0
2       Notre Dame          14-2-0  87.5%  20.6      9.3
3         Boise St          12-2-0  85.7%  14.7      0.9
4             Army          12-2-0  85.7%  15.6      5.5
..             ...             ...    ...   ...      ...
129         U Mass          2-10-0  16.7% -13.0     -3.1
130    Kennesaw St          2-10-0  16.7% -14.7      0.2
131         Purdue          1-11-0   8.3% -24.2    -11.2
132  S Mississippi          1-11-0   8.3% -22.5     -9.0
133        Kent St          0-12-0   0.0% -30.2     -9.4

[134 rows x 5 columns]

In [23]:
df_win_loss_trends_24.sort_values(by="Team", ascending=True, inplace=True)

df_win_loss_trends_24.rename(columns={'Win-Loss Record': 'W-L'}, inplace=True)

df_win_loss_trends_24['Season'] = 2024

df_win_loss_trends_24

            Team    W-L  Win %   MOV  ATS +/-  Season
90     Air Force  5-7-0  41.7%  -4.3     -1.8    2024
100        Akron  4-8-0  33.3% -11.6     -0.4    2024
33       Alabama  9-4-0  69.2%  16.4     -1.2    2024
82     App State  5-6-0  45.5%  -6.3     -6.9    2024
107      Arizona  4-8-0  33.3% -10.0    -13.3    2024
..           ...    ...    ...   ...      ...     ...
109  Wake Forest  4-8-0  33.3%  -6.8     -2.7    2024
48    Wash State  8-5-0  61.5%   6.7     -1.2    2024
72    Washington  6-7-0  46.2%  -0.4     -3.5    2024
89     Wisconsin  5-7-0  41.7%  -0.5     -1.3    2024
117      Wyoming  3-9-0  25.0%  -9.0     -1.5    2024

[134 rows x 6 columns]

In [24]:
season = 2021
url_org = 'https://betiq.teamrankings.com/college-football/betting-trends/win-loss-records/?season=2021'
specific_columns = []

page_counter = 1
df_win_loss_trends = []
seq_start = 2021
end_condition = 2023


options = webdriver.FirefoxOptions()
browser = webdriver.Firefox(options=options)

while seq_start <= end_condition:
    url = 'https://betiq.teamrankings.com/college-football/betting-trends/win-loss-records/?season=' + str(season)
    print(url)

    current_year = season 
    season += 1
    browser.get(url)
    time.sleep(random.uniform(1, 4))

    tables = pd.read_html(browser.page_source)

    if tables:
        df = tables[0]
        df['Season'] = current_year  
        df_win_loss_trends.append(df)
    else:
        print(f"No table found on {url}")

    time.sleep(random.uniform(1, 4))
    seq_start += 1 

browser.quit()

# Concatenate all the DataFrames in the list
df_win_loss_trends = pd.concat(df_win_loss_trends, ignore_index=True)

df_win_loss_trends

https://betiq.teamrankings.com/college-football/betting-trends/win-loss-records/?season=2021

C:\Users\nelle\AppData\Local\Temp\ipykernel_5424\1707893927.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(browser.page_source)

https://betiq.teamrankings.com/college-football/betting-trends/win-loss-records/?season=2022

C:\Users\nelle\AppData\Local\Temp\ipykernel_5424\1707893927.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(browser.page_source)

https://betiq.teamrankings.com/college-football/betting-trends/win-loss-records/?season=2023

C:\Users\nelle\AppData\Local\Temp\ipykernel_5424\1707893927.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(browser.page_source)

            Team Win-Loss Record  Win %   MOV  ATS +/-  Season
0        Georgia          14-1-0  93.3%  28.4      7.3    2021
1     Cincinnati          13-1-0  92.9%  20.0      2.7    2021
2      Louisiana          13-1-0  92.9%  12.6      2.9    2021
3        Alabama          13-2-0  86.7%  19.7     -2.5    2021
4        Houston          12-2-0  85.7%  15.4      4.1    2021
..           ...             ...    ...   ...      ...     ...
395   Vanderbilt          2-10-0  16.7% -13.3     -4.3    2023
396    UL Monroe          2-10-0  16.7% -17.6     -5.0    2023
397        Akron          2-10-0  16.7% -11.8     -5.5    2023
398      Kent St          1-11-0   8.3% -19.9     -5.2    2023
399  Kennesaw St           0-1-0   0.0%  -3.0     13.0    2023

[400 rows x 6 columns]

In [25]:
df_win_loss_trends.rename(columns={'Win-Loss Record': 'W-L'}, inplace=True)

In [26]:
final_df_win_loss_trends = pd.concat([df_win_loss_trends, df_win_loss_trends_24])

final_df_win_loss_trends.sort_values(by="Team", ascending=True, inplace=True)

final_df_win_loss_trends['W-L'] = final_df_win_loss_trends['W-L'].apply(lambda wl: wl[:-2] if wl.endswith('-0') else wl)

final_df_win_loss_trends['Win %'] = final_df_win_loss_trends['Win %'].str.rstrip('%')
final_df_win_loss_trends['Win %'] = final_df_win_loss_trends['Win %'].astype(float)
final_df_win_loss_trends

          Team   W-L  Win %   MOV  ATS +/-  Season
147  Air Force  10-3   76.9  14.5      2.2    2022
19   Air Force  10-3   76.9  11.2      3.3    2021
300  Air Force   9-4   69.2   9.7     -2.7    2023
90   Air Force   5-7   41.7  -4.3     -1.8    2024
119      Akron  2-10   16.7 -19.7     -0.9    2021
..         ...   ...    ...   ...      ...     ...
89   Wisconsin   5-7   41.7  -0.5     -1.3    2024
201    Wyoming   7-6   53.9  -2.7      0.4    2022
297    Wyoming   9-4   69.2   3.0      2.1    2023
59     Wyoming   7-6   53.9   1.7     -3.5    2021
117    Wyoming   3-9   25.0  -9.0     -1.5    2024

[534 rows x 6 columns]

In [27]:
final_df_win_loss_trends.to_csv('NCAA_football_win_loss_trends.csv', index=False)

---

In [28]:
seq_start = 21.0
url_org = 'https://stats.ncaa.org/rankings/national_ranking?academic_year=2025.0&division=11.0&ranking_period=84.0&sport_code=MFB&stat_seq=21.0'
specific_columns = []

options = webdriver.FirefoxOptions()
browser = webdriver.Firefox(options=options)

page_counter = 1
df_stats = [] 
while seq_start < 26.0:
    url = 'https://stats.ncaa.org/rankings/national_ranking?academic_year=2025.0&division=11.0&ranking_period=84.0&sport_code=MFB&stat_seq=' + str(seq_start)
    print(url)
    
    # for seq_start in url:
    seq_start += 1
    browser.get(url)
    time.sleep(random.uniform(1, 4))

    tables = pd.read_html(url) 
    
    df_stats.append(tables[0])
    time.sleep(random.uniform(1, 4))

browser.quit()

https://stats.ncaa.org/rankings/national_ranking?academic_year=2025.0&division=11.0&ranking_period=84.0&sport_code=MFB&stat_seq=21.0
https://stats.ncaa.org/rankings/national_ranking?academic_year=2025.0&division=11.0&ranking_period=84.0&sport_code=MFB&stat_seq=22.0
https://stats.ncaa.org/rankings/national_ranking?academic_year=2025.0&division=11.0&ranking_period=84.0&sport_code=MFB&stat_seq=23.0
https://stats.ncaa.org/rankings/national_ranking?academic_year=2025.0&division=11.0&ranking_period=84.0&sport_code=MFB&stat_seq=24.0
https://stats.ncaa.org/rankings/national_ranking?academic_year=2025.0&division=11.0&ranking_period=84.0&sport_code=MFB&stat_seq=25.0

In [29]:
df = pd.concat([df_stats[0], df_stats[1], df_stats[2], df_stats[3], df_stats[4]], ignore_index = True)
df

,Rank,Team,G,W-L,Plays,YDS,Yds/Play,Off TDs,YPG,Opp TDs,...,Opp Rush,Opp Rush Yds,Opp Rush TDs,Pass Att,Pass Com,Int,Pass Yds,Yds/Att,Yds/Comp,Pass TD
0,1,Miami (FL) (ACC),13,10-3,922,6983,7.57,71,537.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Ole Miss (SEC),13,10-3,934,6845,7.33,60,526.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,North Texas (The American),13,6-7,946,6355,6.72,57,488.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,New Mexico (Mountain West),12,5-7,846,5811,6.87,49,484.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Texas St. (Sun Belt),13,8-5,957,6200,6.48,58,476.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,131,Navy (The American),13,10-3,NaN,NaN,NaN,NaN,123.8,NaN,...,NaN,NaN,NaN,179,99,6,1609,8.99,16.25,15
671,132,Air Force (Mountain West),12,5-7,NaN,NaN,NaN,NaN,89.8,NaN,...,NaN,NaN,NaN,138,62,10,1077,7.80,17.37,5
672,133,Army West Point (The American),14,12-2,NaN,NaN,NaN,NaN,80.6,NaN,...,NaN,NaN,NaN,122,66,4,1128,9.25,17.09,10
673,Reclassifying,Reclassifying,Reclassifying,Reclassifying,NaN,NaN,NaN,NaN,Reclassifying,NaN,...,NaN,NaN,NaN,Reclassifying,Reclassifying,Reclassifying,Reclassifying,Reclassifying,Reclassifying,Reclassifying
674,-,Kennesaw St. (CUSA),12,2-10,NaN,NaN,NaN,NaN,136.3,NaN,...,NaN,NaN,NaN,297,156,14,1636,5.51,10.49,6

In [30]:
df_stats0 = df_stats[0].drop(columns = ['Plays','YDS','Yds/Play','Off TDs'])
df_stats0 = df_stats0.drop(df_stats0.index [133])
df_stats0 = df_stats0.drop(df_stats0.index [133])
df_stats0 = df_stats0.rename(columns={'YPG': 'Total Offense YPG'})
df_stats0 = df_stats0.rename(columns={'Rank': 'Offensive Rank'})
df_stats0['Season'] = 2024

In [31]:
df_stats0

,Offensive Rank,Team,G,W-L,Total Offense YPG,Season
0,1,Miami (FL) (ACC),13,10-3,537.2,2024
1,2,Ole Miss (SEC),13,10-3,526.5,2024
2,3,North Texas (The American),13,6-7,488.8,2024
3,4,New Mexico (Mountain West),12,5-7,484.3,2024
4,5,Texas St. (Sun Belt),13,8-5,476.9,2024
...,...,...,...,...,...,...
128,129,Michigan (Big Ten),13,8-5,286.2,2024
129,130,Northwestern (Big Ten),12,4-8,284.4,2024
130,131,Southern Miss. (Sun Belt),12,1-11,283.5,2024
131,132,Florida St. (ACC),12,2-10,270.3,2024
132,133,Kent St. (MAC),12,0-12,233.3,2024

In [32]:
df_stats1 = df_stats[1].drop(columns = ['Plays','YDS','Yds/Play','Off TDs','Opp TDs'])
df_stats1 = df_stats1.drop(df_stats1.index[133])
df_stats1 = df_stats1.drop(df_stats1.index[133])
df_stats1 = df_stats1.rename(columns={'YPG': 'Total Defense YPG'})
df_stats1 = df_stats1.rename(columns={'Rank': 'Defensive Rank'})
df_stats1['Season'] = 2024

In [33]:
df_stats1

,Defensive Rank,Team,G,W-L,Total Defense YPG,Season
0,1,Ohio St. (Big Ten),16,14-2,254.6,2024
1,2,Indiana (Big Ten),13,11-2,256.3,2024
2,3,Texas (SEC),16,13-3,283.4,2024
3,4,NIU (MAC),13,8-5,284.6,2024
4,5,Minnesota (Big Ten),13,8-5,285.7,2024
...,...,...,...,...,...,...
128,129,Utah St. (Mountain West),12,4-8,470.1,2024
129,130,New Mexico (Mountain West),12,5-7,492.1,2024
130,131,Tulsa (The American),12,3-9,496.8,2024
131,132,Oklahoma St. (Big 12),12,3-9,500.6,2024
132,133,Kent St. (MAC),12,0-12,516.0,2024

In [34]:
df_stats2 = df_stats[2].drop(columns = ['Rush','Rush Yds','Yds/Rush','Rush TD'])
df_stats2 = df_stats2.drop(df_stats2.index[133])
df_stats2 = df_stats2.drop(df_stats2.index[133])
df_stats2 = df_stats2.rename(columns={'YPG': 'Rush YPG'})
df_stats2 = df_stats2.rename(columns={'Rank': 'Rushing Rank'})
df_stats2['Season'] = 2024

In [35]:
df_stats2

    Rushing Rank                            Team   G   W-L Rush YPG  Season
0              1  Army West Point (The American)  14  12-2    300.5    2024
1              2      New Mexico (Mountain West)  12   5-7    253.6    2024
2              3         Jacksonville St. (CUSA)  14   9-5    251.2    2024
3              4                  Liberty (CUSA)  12   8-4    250.7    2024
4              5                    UCF (Big 12)  12   4-8    248.1    2024
..           ...                             ...  ..   ...      ...     ...
128          129             Middle Tenn. (CUSA)  12   3-9     89.0    2024
129          130    San Jose St. (Mountain West)  13   7-6     88.1    2024
130          131                  UCLA (Big Ten)  12   5-7     86.6    2024
131          132                  Kent St. (MAC)  12  0-12     76.9    2024
132          133               Colorado (Big 12)  13   9-4     65.2    2024

[133 rows x 6 columns]

In [36]:
df_stats3 = df_stats[3].drop(columns = ['Opp Rush','Opp Rush Yds','Yds/Rush','Opp Rush TDs'])
df_stats3 = df_stats3.drop(df_stats3.index[133])
df_stats3 = df_stats3.drop(df_stats3.index[133])
df_stats3 = df_stats3.rename(columns={'YPG': 'Opp Rush YPG'})
df_stats3 = df_stats3.rename(columns={'Rank': 'Rushing Defensive Rank'})
df_stats3['Season'] = 2024

In [37]:
df_stats3

,Rushing Defensive Rank,Team,G,W-L,Opp Rush YPG,Season
0,1,Indiana (Big Ten),13,11-2,80.2,2024
1,2,Ole Miss (SEC),13,10-3,80.5,2024
2,3,Ohio St. (Big Ten),16,14-2,87.6,2024
3,4,Ohio (MAC),14,11-3,90.6,2024
4,5,Michigan (Big Ten),13,8-5,90.7,2024
...,...,...,...,...,...,...
128,129,Mississippi St. (SEC),12,2-10,216.9,2024
129,130,Western Ky. (CUSA),14,8-6,221.2,2024
130,131,Temple (The American),12,3-9,226.1,2024
131,132,Southern Miss. (Sun Belt),12,1-11,232.7,2024
132,133,Kent St. (MAC),12,0-12,264.9,2024

In [38]:
df_stats4 = df_stats[4].drop(columns = ['Pass Att','Pass Com','Int','Pass Yds', 'Yds/Att', 'Yds/Comp', 'Pass TD'])
df_stats4 = df_stats4.drop(df_stats4.index[133])
df_stats4 = df_stats4.drop(df_stats4.index[133])
df_stats4 = df_stats4.rename(columns={'YPG': 'Pass YPG'})
df_stats4 = df_stats4.rename(columns={'Rank': 'Passing Rank'})
df_stats4['Season'] = 2024

In [39]:
df_stats4

    Passing Rank                            Team   G   W-L Pass YPG  Season
0              1                  Syracuse (ACC)  13  10-3    370.0    2024
1              2                  Ole Miss (SEC)  13  10-3    350.8    2024
2              3                Miami (FL) (ACC)  13  10-3    348.2    2024
3              4      North Texas (The American)  13   6-7    328.2    2024
4              5    San Jose St. (Mountain West)  13   7-6    321.8    2024
..           ...                             ...  ..   ...      ...     ...
128          129                  Iowa (Big Ten)  13   8-5    131.6    2024
129          130              Michigan (Big Ten)  13   8-5    129.1    2024
130          131             Navy (The American)  13  10-3    123.8    2024
131          132       Air Force (Mountain West)  12   5-7     89.8    2024
132          133  Army West Point (The American)  14  12-2     80.6    2024

[133 rows x 6 columns]

In [55]:
df_2 = pd.merge(df_stats0, df_stats1, on=['Team',"G", "W-L", "Season"])

df_3 = pd.merge(df_2, df_stats2, on=['Team',"G", "W-L", "Season"])

df_4 = pd.merge(df_3, df_stats3, on=['Team',"G", "W-L", "Season"])

df_final = pd.merge(df_4, df_stats4, on=['Team',"G", "W-L", "Season"])
df_final

,Offensive Rank,Team,G,W-L,Total Offense YPG,Season,Defensive Rank,Total Defense YPG,Rushing Rank,Rush YPG,Rushing Defensive Rank,Opp Rush YPG,Passing Rank,Pass YPG
0,1,Miami (FL) (ACC),13,10-3,537.2,2024,27,327.2,31,188.9,19,112.8,3,348.2
1,2,Ole Miss (SEC),13,10-3,526.5,2024,14,311.2,44,175.7,2,80.5,2,350.8
2,3,North Texas (The American),13,6-7,488.8,2024,127,460.5,69,160.6,115,195.9,4,328.2
3,4,New Mexico (Mountain West),12,5-7,484.3,2024,130,492.1,2,253.6,125,212.9,61,230.7
4,5,Texas St. (Sun Belt),13,8-5,476.9,2024,53,357.6,15,208.2,55,143.0,22,268.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,129,Michigan (Big Ten),13,8-5,286.2,2024,10,307.0,73,157.2,5,90.7,130,129.1
129,130,Northwestern (Big Ten),12,4-8,284.4,2024,56,361.8,122,98.5,37,129.9,111,185.9
130,131,Southern Miss. (Sun Belt),12,1-11,283.5,2024,121,449.2,118,108.6,132,232.7,120,174.9
131,132,Florida St. (ACC),12,2-10,270.3,2024,86,385.9,128,89.9,106,184.7,116,180.3
132,133,Kent St. (MAC),12,0-12,233.3,2024,133,516.0,132,76.9,133,264.9,125,156.3

In [56]:
df_final[['Team_Name','Conference']] = df_final['Team'].str.rsplit('(', n = 1, expand = True)

df_final['Conference'] = df_final['Conference'].str.replace(')', '')

df_final

,Offensive Rank,Team,G,W-L,Total Offense YPG,Season,Defensive Rank,Total Defense YPG,Rushing Rank,Rush YPG,Rushing Defensive Rank,Opp Rush YPG,Passing Rank,Pass YPG,Team_Name,Conference
0,1,Miami (FL) (ACC),13,10-3,537.2,2024,27,327.2,31,188.9,19,112.8,3,348.2,Miami (FL),ACC
1,2,Ole Miss (SEC),13,10-3,526.5,2024,14,311.2,44,175.7,2,80.5,2,350.8,Ole Miss,SEC
2,3,North Texas (The American),13,6-7,488.8,2024,127,460.5,69,160.6,115,195.9,4,328.2,North Texas,The American
3,4,New Mexico (Mountain West),12,5-7,484.3,2024,130,492.1,2,253.6,125,212.9,61,230.7,New Mexico,Mountain West
4,5,Texas St. (Sun Belt),13,8-5,476.9,2024,53,357.6,15,208.2,55,143.0,22,268.7,Texas St.,Sun Belt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,129,Michigan (Big Ten),13,8-5,286.2,2024,10,307.0,73,157.2,5,90.7,130,129.1,Michigan,Big Ten
129,130,Northwestern (Big Ten),12,4-8,284.4,2024,56,361.8,122,98.5,37,129.9,111,185.9,Northwestern,Big Ten
130,131,Southern Miss. (Sun Belt),12,1-11,283.5,2024,121,449.2,118,108.6,132,232.7,120,174.9,Southern Miss.,Sun Belt
131,132,Florida St. (ACC),12,2-10,270.3,2024,86,385.9,128,89.9,106,184.7,116,180.3,Florida St.,ACC
132,133,Kent St. (MAC),12,0-12,233.3,2024,133,516.0,132,76.9,133,264.9,125,156.3,Kent St.,MAC

In [57]:
df_final = df_final.drop('Team', axis=1)

df_final.rename(columns={'Team_Name': 'Team'}, inplace=True)

df_final.sort_values(by="Team", ascending=True, inplace=True)
df_final

,Offensive Rank,G,W-L,Total Offense YPG,Season,Defensive Rank,Total Defense YPG,Rushing Rank,Rush YPG,Rushing Defensive Rank,Opp Rush YPG,Passing Rank,Pass YPG,Team,Conference
123,124,12,5-7,313.8,2024,40,341.9,10,224.0,74,153.4,132,89.8,Air Force,Mountain West
111,112,12,4-8,332.8,2024,108,414.4,121,100.3,104,183.3,59,232.4,Akron,MAC
41,42,13,9-4,410.2,2024,21,320.1,47,173.8,48,137.8,56,236.4,Alabama,SEC
32,33,11,5-6,426.8,2024,104,412.5,77,153.8,117,197.6,19,273.0,App State,Sun Belt
95,96,12,4-8,354.5,2024,105,413.0,119,106.6,98,174.0,42,247.9,Arizona,Big 12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,53,13,6-7,404.0,2024,110,415.2,27,193.7,56,144.4,87,210.3,West Virginia,Big 12
81,82,14,8-6,373.5,2024,97,397.3,117,108.9,130,221.2,25,264.6,Western Ky.,CUSA
84,85,13,6-7,370.0,2024,109,415.1,37,183.0,112,192.5,109,187.0,Western Mich.,MAC
98,99,12,5-7,350.3,2024,41,342.7,78,153.7,91,165.0,102,196.7,Wisconsin,Big Ten
118,119,12,3-9,327.3,2024,103,410.6,88,137.8,111,191.7,107,189.4,Wyoming,Mountain West

In [45]:
df_final.to_csv("NCAA_raw_data.csv", index=False)

---

In [ ]:
# package for name mapping - https://pypi.org/project/fuzzywuzzy/
# clean team name for merging
def clean_team_name_simple(name):
    name = name.lower()  
    name = name.replace('&', 'and')
    name = name.replace('.', '')
    name = name.replace(',', '')
    name = name.replace("'", '')
    name = name.replace('-', ' ')
    name = name.strip()
    name = ' '.join(name.split())  
    name = name.title()  
    return name

In [47]:
df_final['Teams'] = df_final['Team'].apply(clean_team_name_simple)
final_df_win_loss_trends['Teams'] = final_df_win_loss_trends['Team'].apply(clean_team_name_simple)

In [48]:
merged_df = pd.merge(df_final, final_df_win_loss_trends, on=['Teams', 'Season', 'W-L'], how='inner')
display(merged_df)

,Offensive Rank,G,W-L,Total Offense YPG,Season,Defensive Rank,Total Defense YPG,Rushing Rank,Rush YPG,Rushing Defensive Rank,Opp Rush YPG,Passing Rank,Pass YPG,Team_x,Conference,Teams,Team_y,Win %,MOV,ATS +/-
0,124,12,5-7,313.8,2024,40,341.9,10,224.0,74,153.4,132,89.8,Air Force,Mountain West,Air Force,Air Force,41.7,-4.3,-1.8
1,112,12,4-8,332.8,2024,108,414.4,121,100.3,104,183.3,59,232.4,Akron,MAC,Akron,Akron,33.3,-11.6,-0.4
2,42,13,9-4,410.2,2024,21,320.1,47,173.8,48,137.8,56,236.4,Alabama,SEC,Alabama,Alabama,69.2,16.4,-1.2
3,33,11,5-6,426.8,2024,104,412.5,77,153.8,117,197.6,19,273.0,App State,Sun Belt,App State,App State,45.5,-6.3,-6.9
4,96,12,4-8,354.5,2024,105,413.0,119,106.6,98,174.0,42,247.9,Arizona,Big 12,Arizona,Arizona,33.3,-10.0,-13.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,93,12,5-7,360.9,2024,101,408.3,94,131.9,58,145.3,64,229.0,Virginia,ACC,Virginia,Virginia,41.7,-6.1,-2.9
95,84,12,4-8,370.7,2024,117,435.0,97,130.6,80,157.2,49,240.1,Wake Forest,ACC,Wake Forest,Wake Forest,33.3,-6.8,-2.7
96,61,13,6-7,390.5,2024,28,328.4,100,128.8,87,161.8,32,261.7,Washington,Big Ten,Washington,Washington,46.2,-0.4,-3.5
97,99,12,5-7,350.3,2024,41,342.7,78,153.7,91,165.0,102,196.7,Wisconsin,Big Ten,Wisconsin,Wisconsin,41.7,-0.5,-1.3
98,119,12,3-9,327.3,2024,103,410.6,88,137.8,111,191.7,107,189.4,Wyoming,Mountain West,Wyoming,Wyoming,25.0,-9.0,-1.5

In [49]:
merged_df = merged_df.drop(columns=['Team_x', 'Team_y'])

In [50]:
merged_df.sort_values(by="Teams", ascending=True, inplace=True)
merged_df

,Offensive Rank,G,W-L,Total Offense YPG,Season,Defensive Rank,Total Defense YPG,Rushing Rank,Rush YPG,Rushing Defensive Rank,Opp Rush YPG,Passing Rank,Pass YPG,Conference,Teams,Win %,MOV,ATS +/-
0,124,12,5-7,313.8,2024,40,341.9,10,224.0,74,153.4,132,89.8,Mountain West,Air Force,41.7,-4.3,-1.8
1,112,12,4-8,332.8,2024,108,414.4,121,100.3,104,183.3,59,232.4,MAC,Akron,33.3,-11.6,-0.4
2,42,13,9-4,410.2,2024,21,320.1,47,173.8,48,137.8,56,236.4,SEC,Alabama,69.2,16.4,-1.2
3,33,11,5-6,426.8,2024,104,412.5,77,153.8,117,197.6,19,273.0,Sun Belt,App State,45.5,-6.3,-6.9
4,96,12,4-8,354.5,2024,105,413.0,119,106.6,98,174.0,42,247.9,Big 12,Arizona,33.3,-10.0,-13.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,93,12,5-7,360.9,2024,101,408.3,94,131.9,58,145.3,64,229.0,ACC,Virginia,41.7,-6.1,-2.9
95,84,12,4-8,370.7,2024,117,435.0,97,130.6,80,157.2,49,240.1,ACC,Wake Forest,33.3,-6.8,-2.7
96,61,13,6-7,390.5,2024,28,328.4,100,128.8,87,161.8,32,261.7,Big Ten,Washington,46.2,-0.4,-3.5
97,99,12,5-7,350.3,2024,41,342.7,78,153.7,91,165.0,102,196.7,Big Ten,Wisconsin,41.7,-0.5,-1.3
98,119,12,3-9,327.3,2024,103,410.6,88,137.8,111,191.7,107,189.4,Mountain West,Wyoming,25.0,-9.0,-1.5

In [51]:
merged_df.to_csv("merged_college_football_data.csv", index=False)